---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Scheduled VFS install verification
# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 0 * * 3"
  workflow_dispatch:
permissions: read-all
jobs:
  check-ubuntu-jammy-baremetal:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Setup services
        env:
          PROVIDER: libvirt
          CREATE_SRIOV_VFS: true
        run: ./setup.sh
  check-vagrant:
    runs-on: vm-self-hosted
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu_jammy, rocky_9]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/vagrant-setup
        with:
          distro: ${{ matrix.os }}
      - uses: ./.github/actions/vagrant-up
        with:
          provider: libvirt
          os: ${{ matrix.os }}
          enable_sriov_vfs: true
